[class*="button"] {
    border-radius: 20px;
    padding: 8px 8px 10px;
    text-align: center;
    font-size: 15px;
}


p {
    color: grey;
    font-size: 18px;
}

.brand-bar {
    height: 40px;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
}

.brand-bar img {
    width: 130px;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar .navbar-nav .nav-link {
    color: black;
}

.nav-bar .fa-angle-down {
    color: grey;
    margin-left: 5px;
    font-size: 12px;
}

.nav-bar .fa-search {
    margin: 2px 5px 0 15px;
    font-size: 22px;
}

.nav-bar .navbar-nav .button {
    color: white;
    background-color: #333;
}

[class*="jumbotron"] {
    height: 800px;
    margin-bottom: 36px;
    background-size: cover;
    background-position-x: center;
}

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
}

[class*="jumbotron"] .container-fluid {
    height: 100%;
}

.column {
    flex-direction: column;
}

[class*="jumbotron"] .row {
    height: 100%;
    color: #fff;
    font-weight: 600;
}

[class*="jumbotron"] .row div > * {
    margin-bottom: 24px;
    color: #fff;
}

[class*="jumbotron"] .row img {
    margin-left: 36px;
}

.jumbotron .row img {
    width: 60%;
}

[class*="jumbotron"] .row .layer {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    padding: 36px;
    margin-bottom: 48px;
}

h1 {
    font-size: 40px;
}

.button-jumbo {
    background-color: orangered;
    width: 110px;
}

/*Jumbotron ends here */

.games {
    padding: 0 24px;
    margin-bottom: 72px;
}

.item {
    border: #fff solid 2px;
    border-radius: 20px;
    margin-bottom: 24px;
}

.item:hover {
    border-color: #2d64e6;
}

.item img {
    width: 100%;
    border: #fff solid 3px;
    border-radius: 20px;
}

.console {
    text-align: center;
    margin-bottom: 72px;
}

.console h6 {
    color: #2d64e6;
    margin: 0;
}

.hardware, .hardware-list {
    padding: 0 36px;
    margin-bottom: 24px;
}

.hardware {
    align-items: center;
}

.hardware img {
    width: 100%;
}

.hardware h1, .console h1 {
    margin-bottom: 36px;
}

.button-hardware {
    background-color: #2d64e6;
    color: #fff;
    width: 180px;
    margin-top: 30px;
}

.hardware-list img {
    width: 50%;
    margin-bottom: 12px;
}

.hardware-list .col {
    position: relative;
    text-align: center;
    margin-bottom: 24px;
    padding-bottom: 12px;
}

.hardware-list .col div:last-child {
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
    height: 3px;
    background-color: #2d64e6;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.hardware-list .col:hover div:last-child {
    transform: scaleX(1);
}

.jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    margin-bottom: 0;
}

.jumbotron-2 .row img {
    width: 60%;
}

@media all and (max-width: 350px) {
    .jumbotron-2 .row .layer {
        padding: 18px;
    }
}