[class*="button"] {
    border-radius: 20px;
    padding: 8px 8px 10px;
    text-align: center;
    font-size: 15px;
    border: transparent 3px solid;
    background-clip: padding-box;
}

[class*="btn-border"] {
    border: 2px transparent solid;
    border-radius: 22px;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
    margin-left: -5px;
}

p {
    color: grey;
    font-size: 18px;
}

h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.brand-bar {
    height: 40px;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.brand-bar img {
    width: 130px;
}

.nav-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1001;
    background-color: #eee;
    margin: 0;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar .navbar-nav .nav-link {
    color: black;
    padding: 8px 12px;
}

.nav-bar .me-auto .nav-link::after, #play::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.nav-bar .fa-search {
    margin: 2px 5px 0 15px;
    font-size: 22px;
}

.nav-bar .navbar-nav .button {
    color: white;
    background-color: #333;
    margin-left: 12px;
    padding: 7px 16px;
}

[class*="jumbotron"] {
    height: 800px;
    background-size: cover;
    background-position-x: center;
}

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    margin-bottom: 36px;
}

[class*="jumbotron"] .container {
    height: 100%;
}

.column {
    flex-direction: column;
}

[class*="jumbotron"] .row {
    height: 100%;
    color: #fff;
    font-weight: 600;
}

[class*="jumbotron"] .row div > * {
    margin-bottom: 24px;
    color: #fff;
}

[class*="jumbotron"] .row img {
    margin-left: 36px;
}

.jumbotron .row img {
    width: 60%;
}

[class*="jumbotron"] .row .layer {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 36px;
    margin-bottom: 48px;
}

.btn-border-jumbo {
    width: 115px;
}

.btn-border-jumbo:hover  {
    border-color: orangered;
}

.row .btn-border-jumbo .button-jumbo {
    background-color: orangered;
    margin-bottom: 0;
}

/*Jumbotron ends here */

.games {
    padding: 0 24px;
    margin-bottom: 96px;
}

.item {
    border: #fff solid 2px;
    border-radius: 20px;
    margin-bottom: 24px;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    border-color: #2d64e6;
}

.item img {
    width: 100%;
    border: #fff solid 3px;
    border-radius: 20px;
}

.console {
    text-align: center;
    margin-bottom: 24px;
}

.console p {
    margin-bottom: 36px;
}

.console h6 {
    color: #2d64e6;
    margin: 0;
}

.hardware, .hardware-list {
    margin-bottom: 24px;
    padding: 0 36px;
}

.hardware {
    align-items: center;
}

.hardware img {
    width: 100%;
}

.hardware h1, .console h1 {
    margin-bottom: 24px;
}

.button-hardware {
    background-color: #2d64e6;
    color: #fff;
    width: 180px;
}

.btn-border-hardware {
    width: 185px;
    margin-top: 30px;
}

.btn-border-hardware:hover  {
    border-color: #2d64e6;
}

.hardware-list img {
    width: 50%;
    margin-bottom: 12px;
}

.hardware-list .col {
    position: relative;
    text-align: center;
    margin-bottom: 24px;
    padding-bottom: 12px;
}

.hardware-list .col div:last-child {
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
    height: 3px;
    background-color: #2d64e6;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.hardware-list .col:hover div:last-child {
    transform: scaleX(1);
}

.jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbotron-2 .row img {
    width: 60%;
}

.new-games, .new-games-intro {
    background-color: #1f1f1f;
    color: #fff;
    padding: 36px;
}

.new-games h3 {
    margin-bottom: 24px;
}

.new-games img {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 15px ;
}

.new-games h5 {
    font-size: 18px;
    margin-bottom: 48px;
}

.browse-intro {
    padding-top: 48px;
    text-align: center;
    margin-bottom: 36px;
}

.browse-intro p {
    margin: 0;
}

.browse {
    margin-bottom: 72px;
}

.browse > div {
    margin-bottom: 36px;
}

.browse img {
    width: 100%;
}

.browse .btn-border-browse {
    width: 130px;
    color: white;
}

.browse .btn-border-browse:hover {
    border-color: #2d64e6
}

.browse .button-browse {
    background-color: #2d64e6;
    padding: 10px 5px;
}

.ps-plus {
    background-color: #bebcbb;
    justify-content: center;
    align-items: center;
}

.ps-plus p {
    color: black;
    margin-bottom: 24px;
}

.ps-plus .plus-info {
    padding-top: 18px;
    padding-bottom: 18px;
}

.ps-plus .plus-info img {
    width: 60%;
    margin-top: 12px;
    margin-bottom: 24px;
}

.ps-plus-games {
    height: 100%;
}

.ps-plus .ps-plus-games img {
    display: none;
    width: 100%;
    height: 100%;
}

.ps-plus .btn-border-ps-plus {
    width: 200px;
    color: #2d64e6;
}

.ps-plus .btn-border-ps-plus:hover {
    border-color: #d9dadc;
}

.ps-plus .button-ps-plus {
    background-color: #d9dadc;
}



@media all and (max-width: 350px) {
    .jumbotron-2 .row .layer {
        padding: 18px;
    }
}

@media all and (max-width: 767px) {
    .console {
        margin-bottom: 72px;
    }
}

@media all and (min-width: 768px) {
    .ps-plus .ps-plus-games img {
        display: block;
    }

    .browse h1 {
        height: 2.5em;
    }                        /*These heights exist to even out the various parts*/
    
    .browse p {
        height: 4em;
    }
}